USE [master]
GO
/****** Object:  Database [BDD_COS_finale_v2]    Script Date: 16/05/2020 11:58:23 ******/
CREATE DATABASE [BDD_COS_finale_v2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDD_COS_finale_v2_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDD_COS_finale_v2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDD_COS_finale_v2_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDD_COS_finale_v2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDD_COS_finale_v2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDD_COS_finale_v2]
GO
/****** Object:  Table [dbo].[archive]    Script Date: 16/05/2020 11:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archive](
	[cle] [int] IDENTITY(1,1) NOT NULL,
	[idetifiant_employe] [int] NOT NULL,
	[cle_type_pret] [int] NOT NULL,
	[date_demande] [varchar](12) NULL,
	[date_premier_paiment] [varchar](12) NULL,
	[montant_pret] [float] NOT NULL,
	[montant_pret_lettre] [nvarchar](200) NULL,
	[date_fin_remboursement] [varchar](12) NULL,
	[motif] [nvarchar](200) NULL,
	[mois_1] [float] NOT NULL,
	[mois_2] [float] NOT NULL,
	[mois_3] [float] NOT NULL,
	[mois_4] [float] NOT NULL,
	[mois_5] [float] NOT NULL,
	[mois_6] [float] NOT NULL,
	[mois_7] [float] NOT NULL,
	[mois_8] [float] NOT NULL,
	[mois_9] [float] NOT NULL,
	[mois_10] [float] NOT NULL,
	[observation] [nvarchar](500) NULL,
	[num_pv] [int] NULL,
	[debordement] [int] NULL,
	[date_pv] [varchar](10) NULL,
	[long_remboursement] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employes]    Script Date: 16/05/2020 11:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employes](
	[cle] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NULL,
	[prenom] [nvarchar](50) NULL,
	[num_securite_sociale] [varchar](20) NULL,
	[date_naissance] [varchar](12) NULL,
	[grade] [nvarchar](100) NULL,
	[date_prem] [varchar](12) NULL,
	[etat_sociale] [nvarchar](50) NULL,
	[ccp] [nvarchar](50) NULL,
	[cle_ccp] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[matricule] [varchar](8) NULL,
	[service_travail] [nvarchar](500) NULL,
	[email] [text] NULL,
	[etat_fonction] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prets_non_remboursable]    Script Date: 16/05/2020 11:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prets_non_remboursable](
	[cle] [int] IDENTITY(1,1) NOT NULL,
	[idetifiant_employe] [int] NOT NULL,
	[date_demande] [varchar](12) NULL,
	[num_pv] [int] NULL,
	[montant_don] [float] NOT NULL,
	[montant_don_lettre] [text] NULL,
	[motif] [text] NULL,
	[date_pv] [varchar](10) NULL,
	[type_pret] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prets_remboursable]    Script Date: 16/05/2020 11:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prets_remboursable](
	[cle] [int] IDENTITY(1,1) NOT NULL,
	[idetifiant_employe] [int] NOT NULL,
	[type_pret] [int] NOT NULL,
	[date_demande] [varchar](12) NULL,
	[num_pv] [int] NULL,
	[date_premier_paiment] [varchar](12) NULL,
	[montant_pret] [float] NOT NULL,
	[montant_pret_lettre] [text] NULL,
	[motif] [text] NULL,
	[en_cours] [int] NULL,
	[mois_1] [float] NOT NULL,
	[mois_2] [float] NOT NULL,
	[mois_3] [float] NOT NULL,
	[mois_4] [float] NOT NULL,
	[mois_5] [float] NOT NULL,
	[mois_6] [float] NOT NULL,
	[mois_7] [float] NOT NULL,
	[mois_8] [float] NOT NULL,
	[mois_9] [float] NOT NULL,
	[mois_10] [float] NOT NULL,
	[debordement] [int] NULL,
	[date_pv] [varchar](10) NULL,
	[long_remboursement] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_prets]    Script Date: 16/05/2020 11:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_prets](
	[cle] [int] IDENTITY(1,1) NOT NULL,
	[type_du_pret] [int] NOT NULL,
	[description_pret] [text] NULL,
	[disponibilite] [int] NOT NULL,
	[remboursable] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[archive] ON 

INSERT [dbo].[archive] ([cle], [idetifiant_employe], [cle_type_pret], [date_demande], [date_premier_paiment], [montant_pret], [montant_pret_lettre], [date_fin_remboursement], [motif], [mois_1], [mois_2], [mois_3], [mois_4], [mois_5], [mois_6], [mois_7], [mois_8], [mois_9], [mois_10], [observation], [num_pv], [debordement], [date_pv], [long_remboursement]) VALUES (1, 17, 1, N'2001-05-02', N'2001-05-18', 12000, N'Douz mille dinar', N'2002-02-18', N'Mariage', 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, 1200, N'Remboursement normal', 1, -1, N'2005-01-01', 10)
INSERT [dbo].[archive] ([cle], [idetifiant_employe], [cle_type_pret], [date_demande], [date_premier_paiment], [montant_pret], [montant_pret_lettre], [date_fin_remboursement], [motif], [mois_1], [mois_2], [mois_3], [mois_4], [mois_5], [mois_6], [mois_7], [mois_8], [mois_9], [mois_10], [observation], [num_pv], [debordement], [date_pv], [long_remboursement]) VALUES (2, 5, 1, N'2006-01-10', N'2006-01-18', 9000, N'Neuf mille dinar', N'2006-05-18', N'Naissance', 900, 900, 900, 900, 900, 4500, 0, 0, 0, 0, N'Remboursement anticipé', 2, -1, N'2005-01-01', 10)
INSERT [dbo].[archive] ([cle], [idetifiant_employe], [cle_type_pret], [date_demande], [date_premier_paiment], [montant_pret], [montant_pret_lettre], [date_fin_remboursement], [motif], [mois_1], [mois_2], [mois_3], [mois_4], [mois_5], [mois_6], [mois_7], [mois_8], [mois_9], [mois_10], [observation], [num_pv], [debordement], [date_pv], [long_remboursement]) VALUES (3, 37, 1, N'2012-05-09', N'2012-05-18', 45000, N'Quarante cinq mille dinar', N'2013-02-18', N'Nassance', 4500, 4500, 4500, 4500, 4500, 4500, 4500, 4500, 4500, 4500, N'Remboursement normale', 3, -1, N'2005-01-01', 10)
SET IDENTITY_INSERT [dbo].[archive] OFF
SET IDENTITY_INSERT [dbo].[employes] ON 

INSERT [dbo].[employes] ([cle], [nom], [prenom], [num_securite_sociale], [date_naissance], [grade], [date_prem], [etat_sociale], [ccp], [cle_ccp], [tel], [matricule], [service_travail], [email], [etat_fonction]) VALUES (1, N'NIDAH', N'ilFod', N'57 01 44 000 366', N'1957-07-19', N'أستاذ مساعد قسم -أ', N'1982-01-02', N'marié', N'1111111111', N'11', N'000000000', N'2000039', N'المدير المساعد المكلف بالتعليم والشهادات والتكوين المتواصل', NULL, N'actif')
INSERT [dbo].[employes] ([cle], [nom], [prenom], [num_securite_sociale], [date_naissance], [grade], [date_prem], [etat_sociale], [ccp], [cle_ccp], [tel], [matricule], [service_travail], [email], [etat_fonction]) VALUES (2, N'IBDIB', N'edAhm', N'65 18 31 001 360', N'1965-12-10', N'أستاذ مساعد قسم -أ', N'1999-11-30', N'marié', N'1111111111', N'11', N'000000000', N'2000042', N'المدير المساعد المكلف بالتعليم والشهادات والتكوين المتواصل', NULL, N'actif')
INSERT [dbo].[employes] ([cle], [nom], [prenom], [num_securite_sociale], [date_naissance], [grade], [date_prem], [etat_sociale], [ccp], [cle_ccp], [tel], [matricule], [service_travail], [email], [etat_fonction]) VALUES (3, N'IFBEN', N'abAbd', N'68 03 65 009 140', N'1968-09-07', N'أستاذ مساعد قسم -أ', N'1999-11-30', N'marié', N'1111111111', N'11', N'000000000', N'2000022', N'المدير المساعد المكلف بالتعليم والشهادات والتكوين المتواصل', NULL, N'actif')
SET IDENTITY_INSERT [dbo].[employes] OFF
SET IDENTITY_INSERT [dbo].[prets_non_remboursable] ON 

INSERT [dbo].[prets_non_remboursable] ([cle], [idetifiant_employe], [date_demande], [num_pv], [montant_don], [montant_don_lettre], [motif], [date_pv], [type_pret]) VALUES (1, 36, N'2020-03-01', 3, 6000, N'Six mille dinar', N'Perte d''un proche', N'2020-03-18', 2)
INSERT [dbo].[prets_non_remboursable] ([cle], [idetifiant_employe], [date_demande], [num_pv], [montant_don], [montant_don_lettre], [motif], [date_pv], [type_pret]) VALUES (2, 11, N'2020-03-01', 3, 10000, N'Dix mille dinar', N'Mariage', N'2020-03-18', 2)
INSERT [dbo].[prets_non_remboursable] ([cle], [idetifiant_employe], [date_demande], [num_pv], [montant_don], [montant_don_lettre], [motif], [date_pv], [type_pret]) VALUES (3, 4, N'2020-03-01', 3, 9000, N'Neuf mille dinar', N'Mariage', N'2020-03-18', 2)
SET IDENTITY_INSERT [dbo].[prets_non_remboursable] OFF
SET IDENTITY_INSERT [dbo].[prets_remboursable] ON 

INSERT [dbo].[prets_remboursable] ([cle], [idetifiant_employe], [type_pret], [date_demande], [num_pv], [date_premier_paiment], [montant_pret], [montant_pret_lettre], [motif], [en_cours], [mois_1], [mois_2], [mois_3], [mois_4], [mois_5], [mois_6], [mois_7], [mois_8], [mois_9], [mois_10], [debordement], [date_pv], [long_remboursement]) VALUES (1, 17, 1, N'2020-01-30', 1, N'2020-02-18', 11000, N'Onze mille dinar', N'Perte d''un proche', 1, 1100, 1100, 1100, -1, -1, -1, -1, -1, -1, -1, -1, N'2020-02-01', 10)
INSERT [dbo].[prets_remboursable] ([cle], [idetifiant_employe], [type_pret], [date_demande], [num_pv], [date_premier_paiment], [montant_pret], [montant_pret_lettre], [motif], [en_cours], [mois_1], [mois_2], [mois_3], [mois_4], [mois_5], [mois_6], [mois_7], [mois_8], [mois_9], [mois_10], [debordement], [date_pv], [long_remboursement]) VALUES (2, 2, 4, N'2019-09-21', 2, N'2019-10-18', 55000, N'Cinquante cinq mille dinar', N'Mariage', 1, 5500, 5500, 5500, 5500, 5500, 5500, 5500, -1, -1, -1, -1, N'2019-10-01', 10)
INSERT [dbo].[prets_remboursable] ([cle], [idetifiant_employe], [type_pret], [date_demande], [num_pv], [date_premier_paiment], [montant_pret], [montant_pret_lettre], [motif], [en_cours], [mois_1], [mois_2], [mois_3], [mois_4], [mois_5], [mois_6], [mois_7], [mois_8], [mois_9], [mois_10], [debordement], [date_pv], [long_remboursement]) VALUES (3, 1, 10, N'2019-08-01', 6, N'2019-08-18', 36000, N'Trente six mille dinar', N'Mariage', 1, 3600, 3600, 3600, 0, 0, 0, 0, 3600, 3600, -1, -1, N'2019-08-01', 10)
SET IDENTITY_INSERT [dbo].[prets_remboursable] OFF
SET IDENTITY_INSERT [dbo].[type_prets] ON 

INSERT [dbo].[type_prets] ([cle], [type_du_pret], [description_pret], [disponibilite], [remboursable]) VALUES (1, 1, N'Social', 1, 1)
INSERT [dbo].[type_prets] ([cle], [type_du_pret], [description_pret], [disponibilite], [remboursable]) VALUES (2, 3, N'Don', 1, 0)
INSERT [dbo].[type_prets] ([cle], [type_du_pret], [description_pret], [disponibilite], [remboursable]) VALUES (3, 2, N'CONGELATEUR SENTRAX', 1, 1)
SET IDENTITY_INSERT [dbo].[type_prets] OFF
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_1]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_2]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_3]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_4]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_5]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_6]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_7]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_8]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_9]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((0.0)) FOR [mois_10]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((1)) FOR [num_pv]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ('2020-03-20') FOR [date_pv]
GO
ALTER TABLE [dbo].[archive] ADD  DEFAULT ((10)) FOR [long_remboursement]
GO
ALTER TABLE [dbo].[employes] ADD  DEFAULT ('actif') FOR [etat_fonction]
GO
ALTER TABLE [dbo].[prets_non_remboursable] ADD  DEFAULT ('2005-01-01') FOR [date_pv]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_1]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_2]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_3]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_4]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_5]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_6]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_7]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_8]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_9]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((0.0)) FOR [mois_10]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ('2005-01-01') FOR [date_pv]
GO
ALTER TABLE [dbo].[prets_remboursable] ADD  DEFAULT ((10)) FOR [long_remboursement]
GO
ALTER TABLE [dbo].[archive]  WITH CHECK ADD  CONSTRAINT [FK_archive_employes] FOREIGN KEY([idetifiant_employe])
REFERENCES [dbo].[employes] ([cle])
GO
ALTER TABLE [dbo].[archive] CHECK CONSTRAINT [FK_archive_employes]
GO
ALTER TABLE [dbo].[archive]  WITH CHECK ADD  CONSTRAINT [FK_archive_type_prets] FOREIGN KEY([cle_type_pret])
REFERENCES [dbo].[type_prets] ([cle])
GO
ALTER TABLE [dbo].[archive] CHECK CONSTRAINT [FK_archive_type_prets]
GO
ALTER TABLE [dbo].[prets_non_remboursable]  WITH CHECK ADD  CONSTRAINT [FK_prets_non_remboursable_employes] FOREIGN KEY([idetifiant_employe])
REFERENCES [dbo].[employes] ([cle])
GO
ALTER TABLE [dbo].[prets_non_remboursable] CHECK CONSTRAINT [FK_prets_non_remboursable_employes]
GO
ALTER TABLE [dbo].[prets_non_remboursable]  WITH CHECK ADD  CONSTRAINT [FK_prets_non_remboursable_type_prets] FOREIGN KEY([type_pret])
REFERENCES [dbo].[type_prets] ([cle])
GO
ALTER TABLE [dbo].[prets_non_remboursable] CHECK CONSTRAINT [FK_prets_non_remboursable_type_prets]
GO
ALTER TABLE [dbo].[prets_remboursable]  WITH CHECK ADD  CONSTRAINT [FK_prets_remboursable_employes] FOREIGN KEY([idetifiant_employe])
REFERENCES [dbo].[employes] ([cle])
GO
ALTER TABLE [dbo].[prets_remboursable] CHECK CONSTRAINT [FK_prets_remboursable_employes]
GO
ALTER TABLE [dbo].[prets_remboursable]  WITH CHECK ADD  CONSTRAINT [FK_prets_remboursable_type_prets] FOREIGN KEY([type_pret])
REFERENCES [dbo].[type_prets] ([cle])
GO
ALTER TABLE [dbo].[prets_remboursable] CHECK CONSTRAINT [FK_prets_remboursable_type_prets]
GO
USE [master]
GO
